*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',sans-serif;
}

body {
    line-height: 1.6;
    background-color: #fffaf6;
    color: #333;
}

header {
    background-color: #ffdfdf;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #cc3366;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #ffe6f0;
}

.hero h2{
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #cc3366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.about, .product, .contact{
    padding: 50px 20px;
    text-align: center;
}

.products {
    list-style: none;
    text-align: center;
    padding: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #ffdfdf;
    margin-top: 30px;
}